// Put your base components here.
// 
// When there's enough code in a component, give it its own file and include it in build.less.

//variables
@gutter: @grid-gutter-width/2;

//code
html,
body,
body > .container,
body > .container-fluid{
   height: 100%;
}
.p-t-sm{
   padding-top: 20px;
}
hr{
   border-color: #ccc; //TODO: variable update
}
::selection{
   color: @brand-primary;
   background: fade(#D7DFEB, 90%);
}
p{
   font-family: @font-family-serif;
}
p,
.tweet-author{
   a{
      border-bottom: 2px solid @brand-primary;
      padding-bottom: 3px;
      &:hover{
         background: fade(#D7DFEB, 90%);
      }
   }
}
a{
   color: inherit;
   &:hover{
      text-decoration: none;
      border-bottom: none;
   }
}
.manifesto-container{
   margin-top: 20px;
   margin-bottom: 20px;
   border-radius: @border-radius-large;
   padding: 30px;
   background: fade(@brand-white, 95%);
   box-shadow: 0 5px 5px fade(#000, 30%);
   h3{
      .text-center();
      .underline{
         height: 1px;
         background: @gray-light;
         top: 30px;
         width: 80px;
         margin-left: auto;
         margin-right: auto;
      }
   }
}
