// Put your base components here.
// 
// When there's enough code in a component, give it its own file and include it in build.less.
@gutter: @grid-gutter-width/2;

section{
   min-height: 500px;
   position: relative;
   // position: absolute;
   // min-height: 100%;
   // width: 100%;
   margin-left: -@gutter;
   margin-right: -@gutter;
   > .section-overlay > .row{
      margin-left: 0;
      margin-right: 0;
   }
}
.section-overlay{
   background: svg-gradient(to bottom right, fade(#D593FF, 50%), fade(#00A7FF, 50%));
   position: absolute;
   height: 100%;
   width: 100%;
}
.sec-title{
   .img-cover();
   .text-white();
}
.rocket-container{
   .rocket{
      .text-center();
      position: fixed;
      bottom: 15px;
      right: 15px;
      //padding: 15px;
      border-radius: 50%;
      background: @brand-warning;
      height: 45px;
      width: 45px;
      box-shadow: 0 5px 5px @gray;
      .fa-rocket{
         color: @brand-white;
         font-size: 27px;
         position: relative;
         top: 9px;
         left: -1px;
      }
   }
   &:hover{
      .rocket{
         bottom: 17px;
         box-shadow: 0 7px 7px @gray;
      }
   }
}