// Nav

nav.navbar{
   position: absolute;
   z-index: @zindex-navbar;
   color: @navbar-default-color;
   background: transparent;
   padding: @navbar-padding-vertical @navbar-padding-horizontal;
   height: 65px;
   left: 0;
   right: 0;
   .img-navbar-brand{
      height: 45px;
   }
   &.navbar-affix{
      &.affix-top{

      }
      &.affix{
         z-index: @zindex-navbar-fixed;
         position: fixed;
         left: 0;
         right: 0;
         background: @gradient-navbar;
         //height: @navbar-height;
      }
      &.affix-bottom{

      }
   }
   a.nav-link{
      font-size: 12px;
      color: white;
      position: relative;
      top: 6px;
      &:hover{
         color: @gray-lighter;
      }
   }
}
// Dropdown in the nav
.dropdown-menu{
   top: 111%;
   &:before {
      position: absolute;
      top: -7px;
      left: 14px;
      display: inline-block;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #ccc;
      border-left: 7px solid transparent;
      border-bottom-color: rgba(0, 0, 0, 0.2);
      content: '';
   }
   &:after {
      position: absolute;
      top: -6px;
      left: 15px;
      display: inline-block;
      border-right: 6px solid transparent;
      border-bottom: 6px solid #ffffff;
      border-left: 6px solid transparent;
      content: '';
   }
}
.btn-outline{
   background-color: fade(@brand-white, 0%);
   &.btn-default{
      color: @brand-white;
      border: 2px solid @brand-white;
      &:hover{
         background-color: fade(@brand-white, 25%);
      }
      &:active,
      &:focus{
         background-color: fade(@brand-white, 35%);
         color: @brand-white;
      }
   }
}
// Specific overrides for dropdown
.btn-default:active, .btn-default.active,
.open > .dropdown-toggle.btn-default,
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus{
   color: @brand-white;
   background-color: fade(@brand-white, 50%);
   border-color: @brand-white;
}
.btn-navbar-menu{
   padding: 9px;
   .transition-ease();
   .icon-bar{
      display: block;
      width: 22px;
      height: 2px;
      border-radius: 1px;
      border: solid @brand-white 1px;
      + .icon-bar{
         margin-top: 4px;
      }
   }
}